body {
  background-color: hsl(225, 100%, 98%);
  text-align: center;
  font-family: "Red Hat Display", sans-serif;
  margin: 0;
}
h1 {
  color: hsl(223, 47%, 23%);
}
.attribution {
  position: absolute;
  text-align: center;
  margin-top: 900px;
  margin-left: 750px;
}
.container0 {
  position: relative;
  width: 100%;
}
.container1 {
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  margin: 10% auto auto 40%;
  position: absolute;
  height: 600px;
  width: 20%;
}
.container2 {
  background-color: rgb(249, 249, 255);
  border-radius: 10px;
  margin: 20px auto 0 auto;
  width: 80%;
  height: 80px;
  text-align: left;
}
.container3 {
  background-color: rgb(65, 65, 235);
  border-radius: 10px;
  margin: 25px auto 0 auto;
  width: 80%;
  position: absolute;
  right: 0px;
  left: 0px;
  transition: 0.25s;
}
.container3:hover {
  background-color: rgb(97, 97, 236);
}
.container4 {
  margin-top: 40px;
  position: relative;
}
.summ-desc {
  margin-left: 20px;
  margin-right: 20px;
}
.payment1 {
  color: white;
}
.subpayment {
  text-decoration: none;
}
.payment2 {
  color: rgb(107, 107, 107);
  margin-top: 110px;
}
.AP-desc1 {
  color: hsl(223, 47%, 23%);
  float: left;
  margin-right: 30px;
  margin-top: 20px;
}
.AP-desc2 {
  color: rgb(72, 0, 189);
  float: right;
  text-decoration: underline;
  margin-right: 30px;
  margin-top: 30px;
  transition: 0.25s;
  font-size: 0.8rem;
}
.AP-desc2:hover {
  color: rgb(34, 142, 214);
  text-decoration: none;
}
.img-bg {
  position: relative;
  float: left;
  width: 100%;
}
.img-hero {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 100%;
}
.img-music {
  margin: 20px;
  float: left;
}
